  //  @media (max-width:'600px'){
   
   #sectionone{
  grid-template-columns: 1fr;
  margin-left: 0.75rem;
}

.card{
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

body{
  background-color: red;
}
#header{
  #navbarone{
     display: flex;
      flex-direction: column;
      align-items: center;
      background-color: red;
  
    }}
 @media (max-width:'600px'){
#header{
  #navbarone{
     display: flex;
      flex-direction: column;
      align-items: center;
  
  }
}}
  




